src/main/mule/hellojenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5e4d0780-f26c-4733-9852-8a52613acc7e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellojenkinsFlow" doc:id="2f946100-9734-4a30-baef-cae9c26dc2c3" >
		<http:listener doc:name="Listener" doc:id="9bb61a91-0977-471d-8dd3-89322d9b2a9d" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='#["Hello Shebaw jenkins"]' doc:name="Set Payload" doc:id="ae0effdb-f615-4c11-942b-b39a32760129" />
	</flow>
</mule>
